<!DOCTYPE html>
<html>
    <head>
        <title>Mi Página Web</title>
        <script>

            document.addEventListener('DOMContentLoaded', () => {

            // Iniciamos cargando la primer página.
            cargar_pagina('primera');

                // Establecer enlaces para cargar nuevas páginas.
                document.querySelectorAll('.nav-link').forEach(link => {
                    link.onclick = () => {
                        cargar_pagina(link.dataset.pagina);
                        return false;
                    };
                });
            });

            // Muestra el contenido de una página en la ivsta principal.
            function cargar_pagina(nombre) {
                const consulta = new XMLHttpRequest();
                consulta.open('GET', `/${nombre}`);

                consulta.onload = () => {
                    const respuesta = consulta.responseText;
                    document.querySelector('#body').innerHTML = respuesta;

                    // Mandar estado al URL.
                    document.title = nombre;
                    history.pushState(null, "", nombre);
                };
                consulta.send();
            }

        </script>
    </head>
    <body>
        <ul id="nav">
            <li><a href="" class="nav-link" data-pagina="primera">Primera p&aacute;gina</a></li>
            <li><a href="" class="nav-link" data-pagina="segunda">Segunda p&aacute;gina</a></li>
            <li><a href="" class="nav-link" data-pagina="tercera">Tercera p&aacute;gina</a></li>
        </ul>
        <hr>
        <div id="body">
        </div>
    </body>
</html>
