<!DOCTYPE html>
<html>
    <head>
        <title>Mi Página Web</title>
        <style>
            .post {
                background-color: #77dd11;
                padding: 20px;
                margin: 10px;
            }

            body {
                padding-bottom: 50px;
            }
        </style>
        <script>

            // Empezar con la primer publicación.
            let contador = 1;

            // Cargar 20 publicaciones a la vez.
            const cantidad = 20;

            // Al cargar el DOM, renderizar las primeras 20 publicaciones.
            document.addEventListener('DOMContentLoaded', load);

            // Si se ha desplazado hasta el final, cargar las siguientes 20 publicaciones.
            window.onscroll = () => {
                if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                    load();
                }
            };

            // Cargar siguiente conjunto de publicaciones.
            function load() {

                // Establecer números de post de inicio y fin, y actualizar contador.
                const inicio = contador;
                const fin = inicio + cantidad - 1;
                contador = fin + 1;

                // Abrir nueva solicitud para obtener nuevos posts.
                const solicitud = new XMLHttpRequest();
                solicitud.open('POST', '/posts');
                solicitud.onload = () => {
                    const datos = JSON.parse(solicitud.responseText);
                    datos.forEach(agregar_post);
                };

                //Agregar puntos de inicio y fin a parametros de la solicitud.
                const parametros = new FormData();
                parametros.append('inicio', inicio);
                parametros.append('fin', fin);

                // Enviar solicitud.
                solicitud.send(parametros);
            };

            // Agregar un nuevo post con contenido definido al DOM.
            function agregar_post(contenido) {

                // Crear nuevo post.
                const post = document.createElement('div');
                post.className = 'post';
                post.innerHTML = contenido;

                // Agregar post al DOM.
                document.querySelector('#posts').append(post);
            };
        </script>
    </head>
    <body>
        <div id="posts">
        </div>
    </body>
</html>
